body{ background-color:#CCD5AE ;
}
h1{
    color:blue;
    font-style:initial;
}
h2{color:yellow;}
h3{
    color:white;
    font-style:unset;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{color:red;

}




